/******
Name: Size
-- Author: Thang Vuong
-- Date: 14/08/2020
-- Modified: Thang Vuong - 15/08/2020
******/
.size-full{width: 100% !important; height: 100% !important;}
.size-apart{width: 100% !important; height: 50% !important;}
.size-square{width: 50% !important; height: 50% !important;}

.size-text-18{font-size: 1.125rem !important;}
.size-text-20{font-size: 1.25rem !important;}
.size-text-24{font-size: 1.5rem !important;}
.size-text-28{font-size: 1.75rem !important;}
.size-text-32{font-size: 2rem !important;}
.size-text-35{font-size: 2.1875rem !important;}
.size-text-40{font-size: 2.5rem !important;}
.size-text-48{font-size: 3rem !important;}
.size-text-52{font-size: 3.25rem !important;}
.size-text-60{font-size: 3.75rem !important;}
.size-text-64{font-size: 4rem !important;}
